     .flex-container {
         border-radius: 25px;
         height: 350px;
         width: 350px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 15em auto;
         font-size: 20px;
         border-radius: 2em;
         box-shadow: 10px 10px 30px 9px rgba(0, 0, 0, 0.44);
     }
     
     .signIn {
         text-align: center;
         align-items: center;
         font-family: calibri;
         font-weight: bold;
         font-size: 20px;
     }
     
     .uName {
         text-align: left;
         margin: auto;
         font-family: Arial;
         color: #c2c2c2;
         font-size: 18px;
     }
     
     .uPass {
         text-align: left;
         margin: auto;
         font-family: Arial;
         color: #c2c2c2;
         font-size: 18px;
     }
     
     .signInButton {
         background-color: #41b1b8;
         font-family: calibri;
         color: #ffffff;
         font-size: 16px;
         border-radius: 20px;
         height: 40px;
         width: 200px;
     }