html,
body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-style: hidden;
    border-width: 4px;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.05);
    min-width: 30%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    box-shadow: 10px 10px 25px 9px rgba(0, 0, 0, 0.116);
}

h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: calibri;
    text-align: center;
}

.container input {
    margin: auto;
}

.container input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 3px solid #5c5c5c;
    background: transparent;
}

.button {
    background-color: #2499e7ed;
    border-style: hidden;
    font-family: calibri;
    color: #ffffff;
    font-size: 16px;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    margin: auto;
}

.container input[type="text"],
input[type="password"]:focus {
    outline: none;
}


/* :focus outline:none- removes box when text is entered in username/password fields..*/

.button:hover {
    background-color: #183FB4;
}


/* :hover changes color of button when mouse is over it */